# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.ruff_cache/
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/
.uv/

# uv
uv.lock

# Environment variables
.env

# Database
*.db
*.sqlite3

# Alembic
alembic/versions/*.pyc

# Docker
*.tar

# Terraform
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform/crash.log

# Node / React
frontend/node_modules/
frontend/dist/
frontend/.env

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log
logs/

# k6
k6/results/

# Grafana
monitoring/grafana/grafana.db

devops_checkpoints.md